<header id="site_header">
  <nav>
    <a href="/">Home</a>
    <a href="/works/">Works</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="/semi-underground-press/" class="semi-link">
      Semi-underground<br><span>Press</span>
    </a>
  </nav>
</header>
